<section id="smartphone" class="container-fluid pt-5 pb-5 bg-dark">
  <h1 class="text-white text-center">BEST SMARTPHONE</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3">
      <app-baitap-vn-product
        imgUrl="../../../assets/img/sp_blackberry.png"
        name="Blackberry"
        details="BlackBerry is a line of smartphones, tablets, and services originally designed"
      ></app-baitap-vn-product>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3">
      <app-baitap-vn-product
        imgUrl="../../../assets/img/sp_iphoneX.png"
        name="iPhone X"
        details="iPhone X features a new all-screen design. Face ID, which makes your face your password"
      ></app-baitap-vn-product>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3">
      <app-baitap-vn-product
        imgUrl="../../../assets/img/sp_note7.png"
        name="Galaxy Note7"
        details="The Galaxy Note7 comes with a perfectly symmetrical design for good reason"
      ></app-baitap-vn-product>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3">
      <app-baitap-vn-product
        imgUrl="../../../assets/img/sp_vivo850.png"
        name="Vivo"
        details="A young global smartphone brand focusing on introducing perfect sound quality"
      ></app-baitap-vn-product>
    </div>
  </div>
</section>
