<section id="promotion" class="container-fluid pt-5 pb-5 bg-dark">
  <h1 class="text-center text-white">PROMOTION</h1>
  <div class="container bg-light pt-5 pb-5">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="container">
          <img src="{{ imgUrl1 }}" alt="" style="max-width: 100%" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="container">
          <img src="{{ imgUrl2 }}" alt="" style="max-width: 100%" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="container">
          <img src="{{ imgUrl3 }}" alt="" style="max-width: 100%" />
        </div>
      </div>
    </div>
  </div>
</section>
